In [1]:
# The project is for finding a good strategy for reducing traffic related death

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
miles_driven = pd.read_csv('https://raw.githubusercontent.com/khullaal/Python_project/master/data/datasets/miles-driven.csv')
miles_driven.head()

  state|million_miles_annually
0                Alabama|64914
1                  Alaska|4593
2                Arizona|59575
3               Arkansas|32953
4            California|320784

In [5]:
road_accidents = pd.read_csv('https://raw.githubusercontent.com/khullaal/Python_project/master/data/datasets/road-accidents.csv')
road_accidents.head()

                                 ##### LICENSE #####
0  # This data set is modified from the original ...
1  # and it is released under CC BY 4.0 (https://...
2                   ##### COLUMN ABBREVIATIONS #####
3  # drvr_fatl_col_bmiles = Number of drivers inv...
4  # perc_fatl_speed = Percentage Of Drivers Invo...